
/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: linear-gradient(45deg, #9861ff, #1b3fde);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
}

header .logo img {
    height: 50px;
    width: auto;
}


header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #ffdd57;
   
}


header .search-bar {
    display: flex;
    align-items: center;
}

header .search-bar input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
}

header .search-bar button {
    padding: 10px 20px;
    border: none;
    background-color: #ffdd57;
    color: #333333;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

header .search-bar button:hover {
    background-color: #ffcc00;
}

/* FOOTER */

footer {
    background-color: #9861ff;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

footer p {
    margin: 0;
    font-size: 14px;
}

footer a {
    color: #ffdd57;
    text-decoration: none;
    transition: color 0.3s;
}

footer a:hover {
    color: #ffcc00;
}